@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono:wght@200&display=swap');

*{
  font-family: 'Poppins', sans-serif;

}

.landing-page{
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-container{
  margin-bottom: 50px;
}

.offer-button {
  text-align: center;
  background-color: #dc886b;
  padding: 10px;
  cursor: pointer;
  color: white;
}

.desktop-pic {
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.treat-container{
  background-color: #f4f4f4;
  margin-left: 20px;
  margin-right: 20px;
}

.treat-container-text{
  text-align: center;
  padding-top: 30px;
}

.treat-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.treat-text{
  text-align: center;
  padding-bottom: 30px;
}

.bottom-container{
  margin: 1px;
}

.bottom-text{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 60px;;

}

.check{
  margin-right: 10px
}

.bottom-bullets{
  font-size: large;
  list-style-type: none;
  padding-bottom: 15px;
}

