.landing-page{
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.offer-button {
  text-align: center;
  background-color: #dc886b;
  padding: 10px;
}

.desktop-pic {
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.treat-container{
  background-color: #f4f4f4;
}

.treat-container-text{
  text-align: center;
  padding-top: 20px;
}

.treat-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.treat-text{
  text-align: center;
}
