.landing-page{
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-container{
  margin-bottom: 50px;
}

.offer-button {
  text-align: center;
  background-color: #dc886b;
  padding: 10px;
  cursor: pointer;
}

.desktop-pic {
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.treat-container{
  background-color: #f4f4f4;
  margin-left: 20px;
  margin-right: 20px;
}

.treat-container-text{
  text-align: center;
  padding-top: 20px;
}

.treat-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.treat-text{
  text-align: center;
}

.bottom-text{
  margin-top: auto;
  margin-bottom: auto;

}

.check{
  margin-right: 10px
}

